body{
	font-family:arial, sans-serif;
	font-size:14px;
}

#tooltip {
	background: #e3e3e3;
	border: 1px solid #BFBFBF;
	float: left;
	font-size: 12px;
	max-width: 160px;
	padding: 10px;
	position: absolute;
}




